treinamento/pipeline/ARRAY_SQL_TO_DL.json
{
	"name": "ARRAY_SQL_TO_DL",
	"properties": {
		"activities": [
			{
				"name": "ExtraindoTabelas",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Tabelas",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "First_Watermark",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_SQL_localhost_AdventureWorksDW2019_To_Datalake_dltreinamento_BRONZE_GENERIC",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"NomedaTabela": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "First_Watermark",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Watermark",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Watermark",
												"type": "String"
											},
											"sink": {
												"name": "Watermark",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Template_Watermark",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Watermark_GENERIC_Castro",
									"type": "DatasetReference",
									"parameters": {
										"NomedaTabela": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Tabelas": {
				"type": "array",
				"defaultValue": [
					"dados"
				]
			}
		},
		"folder": {
			"name": "Castro"
		},
		"annotations": []
	}
}